html {
    font-family: 'roboto', sans-serif;
}

table {
    width: 80%;
    margin: 2% auto;
    border-collapse: collapse; 
    border: 2px solid #333333; 
}

thead {
    background-color: #333333; 
    color: #ffffff;
}

thead th {
    font-size: 1.2rem; 
    font-weight: bold;
    padding: 2%;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5; /* Color de fondo alternado para filas impares */
}

tbody tr:hover {
    background-color: #e0e0e0; /* Cambiar el color de fondo al pasar el mouse por una fila */
}

tbody td {
    padding: 1%; 
    border: 1px solid #ccc;
}

tbody td img {
    max-width: 64px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

@media (max-width: 768px) {
    table {
        width: 100%;
        table-layout: fixed;
    }
    thead th {
        font-size: 1rem; 
    }
    tbody td img {
        max-width: 50px;
    }
}