<li>
    <span class="<%= task.completed ? 'done' : '' %>">
        <%= task.title %>
    </span>

    <form action="/<%= task.id %>?_method=PUT" method="post">
        <button type="submit">
            <i class="bx bx-check"></i>
        </button>
    </form>

    <form action="/<%= task.id %>?_method=DELETE" class="form-delete" method="post">
        <button type="submit">
            <i class="bx bx-trash"></i>
        </button>
    </form>
</li>