/* Establece el modelo de caja para todos los elementos */
*{
    box-sizing: border-box;
}

/* Estilos para el elemento raíz (html) */
html {
    font-family: "sans-serif";
    background: #333333;
}

/* Estilos para las tarjetas */
.tarjeta {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border:  solid #ccc 1px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
    text-align: center; 
    padding: 20px; 
    margin: 80px auto 0;
}

/* Estilos para el contenedor del nombre de la mascota */
.contenedor-nombre_mascota {
display:flex;
justify-content: center;
align-items: center;
position: relative;

width: 80%;
margin: 0 auto;

height: 40px;
top: -40px;

text-align: center;
border-radius: 10px;
border: solid #ccc 1px;
background-color: #f5f5f5;
font-size: 1.1rem;
color: #333333;

}

/* Estilos para las imágenes dentro de las tarjetas */
.tarjeta img {
    width: 150px;
    max-width: 100%; 
    height: auto;
    position: relative;
    margin: 20px;
}

/* Estilos para los párrafos dentro de las tarjetas */
.tarjeta p {
    text-align: left;
}
/* Estilos para el texto destacado */
.destacado {
    font-weight: bold;
}